.modalTitle {
    font-size: 24px;
    color: #373739;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    font-family: "Inter";
    margin: 0 0 30px 0px;
}

.modalButtonDiv {
    display: flex;
    margin: 28px 0 0 0;
    flex-direction: row-reverse;
}

.modalButton {
    height: 40px;
    border: none;
    color: #FFF;
    min-width: 40px;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    border-radius: 5px;
    line-height: normal;
    font-family: "Inter";
    background: #F55533;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.08);
}

.modalButtonDivForTimeLapsed {
    float: right;
    margin: 24.38px 119px 25px 0;
}

.modalButton {
    color: #FFF;
    border-radius: 5px;
    font-family: "Inter";
    border: none !important;
    background: #F55533 !important;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.08);
}

.modalMsgForTimeLapsed {
    top: 0;
    width: 253px;
    color: #000;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    position: absolute;
    font-family: "Inter";
    margin: 33px 21px 0 226px;
}

.timeSvg {
    margin: 94px 0 0 0;
}

.modalMsg {
    color: #000;
    font-size: 16px;
    line-height: 24px;
    font-family: "Inter";
}